@import './site-variables.scss';

.deals {

    ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem; 
        }

    article.product {
        margin: 1rem;
        padding: 1rem;     
        border: 1px solid #444;
        .productimage {
            img {
                display: block;
                width: 100%;    
                }            
            }
        .productdetails {
            align-self: center;        
            }
        .title {
            margin: 0.5rem;
            padding-bottom: 1rem;
            }
        .price {
            margin: 0.5rem;
            padding-bottom: 1rem;
            }
    }

    .select-product {
        display: flex;
        }

}