//style commonly used elements
ul{
    list-style: none;
    }

a {
    text-decoration: none;    
    }

button {
        background: $color-secondary;
        color: $text-secondary;
        border: none;
        &:hover {
                background: $text-secondary;
                color: $color-secondary;
                border: 2px solid $color-secondary;
            }
    }