//style the font 
body, body * {
    font-family: $family-serif;
    }
    
//style commonly used elements
header {
    color: white;
    }

ul {
    list-style: none;
    }

a {
    text-decoration: none;    
}


button.issecondary {
        background: $color-secondary;
        color: $white;
        border: 2px solid $color-secondary;
        margin: 0.5rem;
        padding: 0.5rem;
        margin-top: auto;
        font-size: 1rem;        
        &:hover {
                background: $text-secondary;
                color: $color-secondary;
                border: 2px solid $color-secondary;
                cursor: pointer;
            }
    }
button.isgrey {
        background: $white;
        color: $grey;
        border: 2px solid $grey;
        margin: 0.5rem;
        padding: 0.5rem;
        margin-top: auto;
        font-size: 1rem;
        &:hover {
            background: $grey;
            color: $white;
            border: 2px solid $grey;
            cursor: pointer;
        }
    }
