@import './site-variables.scss';
.home {

    a {
        flex: flex-grow;
        color: $color-primary;      
        margin-right: 0.7rem;
        text-decoration: none;              
        &:hover {
            text-decoration: none;                        
            border-bottom: 10px solid $color-secondary;
            }
        }     
    .main {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        .spices {
            grid-column: 7/8;
            grid-row: 1/7;
            writing-mode: vertical-rl;
            justify-self: center;
            align-self: center;
            h1 {
                font-size: 7rem;
                }
            }

        .limited-batch {
            grid-column: 2/5;
            grid-row: 6/7;
            font-size: 150%;
            }
        .fresh {
            grid-column: 4/6;
            grid-row: 5/6;
            margin-left: 1rem;
            }
        .transparent {
            grid-column: 4/6;
            grid-row: 3/4;
            margin-left: 1rem;
            }
        .organic {
            grid-column: 4/6;
            grid-row: 2/3;
            margin-left: 1rem;
            }                    
        .fairtrade {
            grid-column: 4/6;
            grid-row: 4/5;
            margin-left: 1rem;
            }                    
        }

    .fresh-panel {
        height: 600px;
        background-color: red;
        }
    .organic-panel {
        height: 600px;
        background-color: brown;
        
        }
    .fairtrade-panel {
        height: 600px;
        background-color: green;
        
        }
    .transparent-panel {
        height: 600px;
        background-color: blue;
        
        }


    
    }