main.deals {

    article.product {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;
        margin: 1rem;
        padding: 1rem;     
        border-bottom: 1px solid #444;
        .productimage {
            grid-column: 1/2;
            img {
                display: block;
                width: 100%;    
            }            

            }
        .productdetails {
            grid-column: 2/3;    
            align-self: center;        
            }
        .title-price {
            margin: 0.5rem;
            padding-bottom: 1rem;
            }
    }

    .select-product {
        display: flex;
        }

}