@import './site-variables.scss';

main.deals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;

    article {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        border: 7px solid #444;
        padding: 1rem;
        font-family: $family-sans-serif;
        h2 {
            margin: 0;            
            font-family: $family-serif;
            height: 150%
        }
        button {
            margin-top: auto;
            background: $color-secondary;
            color: $text-secondary;
            padding: 0.5rem;
            border: none;
            font-size: 1.5rem;
        }
    }
    
    .malabar-spice  {

    }

}