@import './site-variables.scss';
// Styling the header and the Navbar 
header.masthead { 
    .masthead-inner {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        padding: 0.2rem;

        .nav-outer {
            grid-column: 2/13;
            justify-self: right;            
            .main-nav {
                ul {
                    display: flex;
                    flex: row;
                    justify-content: right;                
                    }
                a {
                    flex: flex-grow;
                    color: $color-primary;      
                    margin-right: 0.7rem;
                    text-decoration: none;              
                    &:hover {
                        text-decoration: none;                        
                        border-bottom: 10px solid $color-secondary;
                        }
                    }                    
                }
            .site-title {
                justify-self: right;            
                padding-left: 1rem;
                letter-spacing: 5px;
                h1.title {
                    font-size: 6rem;
                    }
                }            
            }
        .site-logo {
            grid-column: 1/2;  
            grid-row: 1/2;          
            }
        .cannon {
            display: flex;
            font-size: 10rem;
            border: 5px solid $color-primary;
            padding-left: 1rem;
            padding-right: 1rem;
            justify-content: center;  
            align-self: flex-start;    
            }
        }
    }