@import './site-variables.scss';
// Styling the header and the Navbar 
header.masthead { 
    .masthead-inner {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0.2rem;
        .main-nav {
            justify-self: right;            
            ul {
                display: flex;
                flex: row;                
                }
            a {
                flex: flex-grow;
                color: $color-primary;      
                margin-right: 0.7rem;
                text-decoration: none;              
                &:hover {
                    text-decoration: none;                        
                    border-bottom: 10px solid $color-secondary;
                    }
                }                    
            }
        .site-title {
            padding-left: 1rem;
            h1.title {
                font-size: 6rem;
                }
            }

        }
    }