@import './site-variables.scss';
// Styling the header and the Navbar 
header.masthead { 
    .masthead-outer {
        }
    .masthead-inner {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        padding: 0.2rem;

        .nav-outer {
            grid-column: 3/13;
            justify-self: right;            
            .main-nav {
                ul {
                    display: flex;
                    flex: row;
                    justify-content: right;                
                    }
                a {
                    flex: flex-grow;
                    color: $color-primary;      
                    margin-right: 0.7rem;
                    text-decoration: none;              
                    &:hover {
                        text-decoration: none;                        
                        border-bottom: 10px solid $color-primary;
                        }
                    }                    
                }          
            }
        .site-logo {
            grid-column: 1/3;  
            grid-row: 1/2;
            align-self:end;   
            justify-self:center;  
            margin-left: 1rem;
            .cannon-wrapper {
                .cannon {
                    font-size: 4rem;
                    }
                }
            }
        }
    }