@import './site-html-elements.scss';

main {
    .signup-wrapper {
        width: 80vw;
        height: 50vh;
        margin-left:10vw;
        .form-wrapper {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            height: 40%;
            margin-top: 10%;
            grid-gap: 10px;
            label.email {
                grid-column: 1/3;
                grid-row: 1/2; 
                justify-self: right;
                align-self: center;                
                }
            input.email {
                grid-column: 3/12;
                grid-row: 1/2;                                 
                }
            .g-recaptcha {
                grid-column: 3/12;
                grid-row: 2/3;        
                margin: 0.5rem;                                         
                }
            button.signup {
                grid-column: 3/12;
                grid-row: 3/4;        
                }
            }                        
        }
    }