@import './site-variables.scss';

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
  
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

button.issecondary {
        color: $white;
        background-color: $color-secondary;
        border: 2px solid $color-secondary;
        padding: 0.5rem;
        margin:0;
        &:hover {
                background-color: $white;
                color: $color-secondary;
                border: 2px solid $color-secondary;
                cursor: pointer;
            }
    }
button.isprimary {
        color: $white;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        padding: 0.5rem;
        &:hover {
            color: $color-primary;
            background: $white;
            border: 2px solid $color-primary;
            cursor: pointer;
        }
    }
