@import url('https://fonts.googleapis.com/css?family=Arvo|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Bentham');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow');

// Font Variables
$Montserrat: 'Montserrat', sans-serif;
$Arvo: 'Arvo', serif;
$Bentham: 'Bentham', serif;
$Londrina-shadow:  'Londrina Shadow', cursive;

// Site Fonts
$family-serif: $Arvo;
$family-sans-serif: $Montserrat;


//Site Colors
$grey: #424242;
$grey-light: #6d6d6d;
$grey-dark: #1b1b1b;
$blue: #0336ff;
$blue-light: #6f63ff;
$blue-dark: #0008ca; 
$orange: #ff5722;
$orange-light: #ff8a50;
$orange-dark: #c41c00;
$green: #00e676; 
$green-light: #66ffa6;
$green-dark: #00b248;
$yellow: #ffde03;
$yellow-light: #ffff54;
$yellow-dark: #c7ad00;
$red: #ff0266;
$red-light: #ff5c93;
$red-dark: #c5003c;
$white: #fff;

$color-primary: $grey;
$color-primary-light: $grey-light;
$color-primary-dark: $grey-dark;
$color-secondary: $blue;
$color-secondary-light: $blue-light;
$color-secondary-dark: $blue-dark;


// override bootstrap variables
$primary:       $color-primary;
$secondary:     $color-secondary;
$success:       $green;
$info:          $grey-light;
$warning:       $yellow;
$danger:        $red;

// flat design for buttons. remove styling
$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;    


// styling various elemejts and controls

body, body * {
    font-family: $family-serif;
    color: $primary;
    }
h1 {
    margin:0;
    padding:0;
    }    
//style commonly used elements
ul {
    list-style: none;
    }

a {
    text-decoration: none;    
}        