@import './site-variables.scss';

button.issecondary {
        color: $white;
        border: 2px solid $color-secondary;
        background: $color-secondary;
        margin: 0.5rem;
        padding: 0.5rem;
        margin-top: auto;
        font-size: 1rem;        
        &:hover {
                background: white;
                color: $color-secondary;
                border: 2px solid $color-secondary;
                cursor: pointer;
            }
    }
button.isgrey {
        color: $white;
        background: $color-primary;
        border: 2px solid $color-primary;
        margin: 0.5rem;
        padding: 0.5rem;
        margin-top: auto;
        font-size: 1rem;
        &:hover {
            color: $color-primary;
            background: $white;
            border: 2px solid $color-primary;
            cursor: pointer;
        }
    }
