@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat:300');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow');

// Font Variables
$Montserrat: 'Montserrat', sans-serif;
$Merriweather: 'Merriweather', serif;
$Londrina-shadow:  'Londrina Shadow', cursive;

// Site Fonts
$family-serif: $Merriweather;
$family-sans-serif: $Montserrat;



//Site Colors
$grey: #444;
$white: #fff;

$royal-purple: #7851a9;
$royal-purple-light: #a97edb;
$royal-purple-dark: #492679;   
$indigo: #3f51b5;
$indigo-light: #757de8;
$indigo-dark: #002984;    
$orange: #ff5722;
$orange-light: #ff8a50;
$orange-dark: #c41c00;
$green: #4caf50;
$green-light: #80e27e;
$green-dark: #087f23;
$yellow: #ffeb3b;
$yellow-light: #ffff72;
$yellow-dark: #c8b900;
$red: #f44336;
$red-light: #ff7961;
$red-dark: #ba000d;

$color-primary: $royal-purple;
$color-primary-light: $royal-purple-light;
$color-primary-dark: $royal-purple-dark;
$color-secondary: $orange;
$color-secondary-light: $orange-light;
$color-secondary-dark: $orange-dark;

// Font Colors
$text-primary: $grey;
$text-secondary: $white;

