// Using websafe fonts for the site
$family-serif: "Times New Roman", Times, serif;
$family-sans-serif: Avenir, 'Futura W01', helvetica, san-serif;

//Site Colors
$grey: #424242;
$grey-light: #6d6d6d;
$grey-dark: #1b1b1b;
$blue: #0336ff;
$blue-light: #6f63ff;
$blue-dark: #0008ca; 
$orange: #ff5722;
$orange-light: #ff8a50;
$orange-dark: #c41c00;
$green: #00e676; 
$green-light: #66ffa6;
$green-dark: #00b248;
$yellow: #ffde03;
$yellow-light: #ffff54;
$yellow-dark: #c7ad00;
$red: #ff0266;
$red-light: #ff5c93;
$red-dark: #c5003c;
$white: #fff;

$color-primary: $grey;
$color-primary-light: $grey-light;
$color-primary-dark: $grey-dark;
$color-secondary: $blue;
$color-secondary-light: $blue-light;
$color-secondary-dark: $blue-dark;


// override bootstrap variables
$primary:       $color-primary;
$secondary:     $color-secondary;
$success:       $green;
$info:          $grey-light;
$warning:       $yellow;
$danger:        $red;

///////////////////////////////////////////////////////////
// styling various elements and controls
body, body * {
    font-family: $family-sans-serif;
    color: $primary;
    }

h1 {
    margin:0;
    padding:0;
    }    

ul {
    list-style: none;
    }


// flat design for buttons. remove styling
$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;    
    
button, input, label, select, textarea {
    font-family : inherit;
    font-size   : 100%;
    padding : 0.5rem;
    margin  : 0.5rem;

  -webkit-box-sizing    : border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing    : border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing    : border-box;
}
   

// general width styling for all controls
.block {
    width: 100%;
    }
.half-block {
    width: 50%;
    }

//styling for valid inputs 
input:invalid ~ span:after {
    content: '✖';
    position: absolute;
}
input:valid ~ span:after {
    content: '✓';
    position: absolute;
}

// stlying fieldset    
fieldset {
  border : 1px solid $color-primary;
  border-radius: 0;
  margin : 0;
  padding: 1em;
}

label {
  cursor : pointer;
}

input {
      border : 1px solid $color-primary;    
    }

//site images
.image {
    display: block;
    width: 100%;    
    }

// site buttons and anchors

a.button {
    text-decoration: none;    
    text-align: center;
    display: inline-block;
    padding: 9px 25px;
}     

.button {
        &:hover {
                cursor: pointer;
            }    
    }
.issecondary {
        color: $white;
        background-color: $color-secondary;
        border: 2px solid $color-secondary;
        &:hover {
                background-color: $white;
                color: $color-secondary;
            }
    }
.issecondary-secondary {
        color: $white;
        background-color: $color-secondary;
        border: 2px solid $color-secondary;
        &:hover {
                background-color: $white;
                color: $color-secondary;
            }
    }        
.isprimary {
        color: $white;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        &:hover {
            color: $color-primary;
            background: $white;
        }
    }
.isprimary-inverted {
        color: $color-primary;
        background-color: $white;
        border: 2px solid $color-primary;
        &:hover {
            color: $white;
            background: $color-primary;
        }
    }
